.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 2px 4px 0 rgba(234, 157, 157, 0.932);
  margin: 1em;
  user-select: none;
 }

 .activeCard{
  color: red;
  background: rgb(176, 243, 171);
 } 